body {
    padding-top: 20px;
    overflow: hidden;
  }
  .tick text {
      font-size: 24px;
  }

  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
  }

  /* To comunicate the density. */
  /* circle {
    opacity: 0.25;
  } */


  /* Styling dropdown menus */
  select,
  label,
  option {
    font-size: 15px;
    font-family: 'Share Tech', sans-serif;
    font-weight: bold;
  }